<!DOCTYPE html>
<html>
<head>
  <title><%= smokescreen.name  %></title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <section id="top-bar">
    <h1><%= smokescreen.name %></h1>
  </section>
  <section id="main">
    <section id="hero">
      <h1><%= smokescreen.heading %></h1>
      <p><%= smokescreen.subheading %></p>
    </section>
    <section id="c2a">
      <input type="textarea"></input>
      <button><%= smokescreen.callToAction %></button>
    </section>
  </section>
</body>
</html>
